body{
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.topoHeader{
  display: flex;
  justify-content: space-between;
}
header{
  background-image: url("imagens/fundo.jpg");
  background-size:cover;
  padding: 20px;
}
header h1{
  text-align: center;
  color: white;
}
.endereco{
  text-align: center;
}
.linkEndereco{
  text-align: center;
}
.itens{
  display: flex;
}